@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {


  --font-family: 'Manrope', sans-serif;


  
  --color-bg: #212121;
  --color-black: #000000;
  --color-blue: #707589;
  --color-sky: #269cf1;
  --color-card: #2c2d35;

 
}

.App {
  width: 100%;
  /* margin-left: 30px; */
}
